EXPO_PUBLIC_BASE_URL=
EXPO_PUBLIC_ALCHEMY_API_KEY=
# TODO: Move Pimlico API Key to backend
EXPO_PUBLIC_PIMLICO_API_KEY=
EXPO_PUBLIC_FLASH_API_BASE_URL=
EXPO_PUBLIC_FLASH_ANALYTICS_API_BASE_URL=

EXPO_PUBLIC_INFO_GRAPH=https://api.studio.thegraph.com/query/78455/solid-frontend-staging/version/latest
EXPO_PUBLIC_ENVIRONMENT=preview
EXPO_PUBLIC_REOWN_PROJECT_ID=
EXPO_PUBLIC_PASSKEY_CERTIFICATES_HOST=solid.xyz

EXPO_PUBLIC_TURNKEY_API_BASE_URL="https://api.turnkey.com"
EXPO_PUBLIC_TURNKEY_ORGANIZATION_ID=